.logImage{
    /* background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp'); */
    /* background-color:#87CEEB; */
    background: linear-gradient(45deg, #87CEEB, #9cf4eb, #cea6e8, #f6cfcc, #CCCCFF);
    background-size: 100%;
    width: 100%;
    height: 100vh;
  }
  .align{
    color: rgb(14, 14, 12);
    text-align: center;
    /* background-image: url(""); */
    /* background-color:#76ABAE; */
    background: linear-gradient(45deg, #87CEEB, #9cf4eb, #cea6e8, #f6cfcc, #CCCCFF);
    background-size: auto;
    /* background-size: 100%; */
    width: 100%;
    height: 100vh;
  }
  
  .textarea{
    width:49%;
    border-block-color: violet;
    border-width: 3px;
  }
  .dbtn{
    margin-right: '0.5rem' ;
    border-radius: 6px;
    border-Color:"violet";
    background-color:#d7eff9;
    
  }
  
  .viewarticle{
    /* background-color: #76ABAE; */
    background: linear-gradient(45deg, #87CEEB, #9cf4eb, #cea6e8, #f6cfcc, #CCCCFF);
    
    margin: 0%;
    padding: 0%;
    
    animation-name: slideIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 0;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    @keyframes slideIn {
      from {
        transform: translateY(-50px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
  
  .article {
    margin-bottom: 20px;
  }
  
  .article-content {
    max-height: 100vh; /* Set maximum height to 100% of the viewport height */
    overflow: hidden; /* Hide any overflow content */
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
  
    
  }
  
  
  
  
  
  .article-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Two articles per row */
    gap: 20px;
    justify-items: center; /* Align articles to the center horizontally */
  }
  
  .article-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%; /* Ensure each card takes full width */
    max-width: 400px; /* Set maximum width for medium size */
    
  }
  
  .article-card-content {
    padding: 40px;
    
  }
  
  .article-card-content h3 {
    margin-bottom: 10px;
  }
  
  .article-content p {
    margin-bottom: 10px;
  }
  
  .article-card-content p {
    color: #666;
  }
  
  
  /* Define a fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Apply the animation to the article card */
  .article-card {
    animation: fadeIn 5s ease-in-out;
  }
  